.calendar_day {
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	border:1px solid #CCC!important;
	padding: 0!important;
}
.calendar_day:hover {
	background-color: #CCC;
}
.calendar_day a {
	text-decoration: none;
	color:#000;
	display: block;
	height: 50px;
	padding:20px!important;
}
.calendar_day.has-report {
	background-color: #DCFFDC;
}
.calendar_day.no-report {
	background-color: #F3E2E2;
}
.calendar_day.is_current {
	background-color: #C8E3FF;
}
.dcpr-calendar {
	border:1px solid #CCC!important;
}
.dcpr-calendar th ,
.dcpr-calendar td {
	border:1px solid #CCC!important;
}
.dropdown-menu .header {
	font-size: 80%;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 12px;
    margin-top: 5px;
}